body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

li,
a,
button {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-size: 2.6rem;
    flex: 0.5rem;
}

.logo img {
    margin-left: 0vh;
    margin-top: -4.5rem;

}
/*  Barra de Navegação Fixa na parte de cima
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 8%;
    background-image: url('wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed 10%;
    position: relative;
    z-index: 2;
}
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 8%;
    background-image: url('wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav {
    flex: 2;
}

.nav-links {
    list-style: none;
    margin-top: -4%;
    margin-right: 0rem;
    padding: 0;
    display: flex;
}


.nav-links li {
    display: inline-block;
    padding: 0 1.5rem;
    margin-right: 0.5rem;
}


.nav-links li a:hover {
    color: #6090d7;
}

button {
    padding: 0.8rem 1.5rem;
    background-color: #036873;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

button:hover {
    background-color: #036873;
}
/* Config para a Barra de Navegação Fixa
.parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    margin-top: -10%;
    background-image: url('design_fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    position: relative;

}
*/
.parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    margin-top: 0;
    background-image: url('design_fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    position: relative;
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    font-weight: bold;
    animation: fadeInDown 1s ease-in-out;
}

.descricao {
    padding: 1.5rem;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    max-width: 50%;
    margin: 0 auto;
    margin-left: -3%;
}

.descricao p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.descricao a {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: #036873;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.descricao a:hover {
    background-color: #0056b3;
}

.imagem-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-container img {
    max-width: 25rem;
    height: auto;
}

/*Inicio Estilo Cards */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    align-items: flex-start;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    flex: 1 1 30%;
    min-width: 250px;
    max-width: 350px;
    background: linear-gradient(135deg, #115259, #000000);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    color: white;
    text-align: left;
}



.cards2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    margin-top: -5%;
}



.card:hover {
    transform: translateY(-5px);
}

.container {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details {
    padding: 20px 10px;
}

.details h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.details p {
    font-size: 1rem;
    line-height: 1.6;
}

.imagem-containerFinal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 40%;
    margin: 0 auto;
    margin-top: -10%;
}

.imagem-containerFinal img {
    max-width: 40%;
    height: auto;
    border-radius: 10%;
}
.foco-visivel {
    outline: 3px solid #3cff00;
}

/*fim Estilo Cards */

/*Inicio Estilo Footer */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.containerFooter{
	max-width: 1170px;
	margin:auto;

}
.rowFooter{
	display:inline-flex;
	flex-wrap: wrap;
    
}

.footer{
	background-color: #043136;
    padding: 2% 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col p{
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 400;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #262626;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-creditos {
    text-align: center;
    margin-top: 1%;
    color: #e9ecef;
    bottom: 0;
    width: 100%;
}
/*Fim Estilo Footer */


/* Configurações em Telas Menores */
/* Inicio da Config do Header*/
@media (max-width: 768px) {
    header {
        background-color: #115259;
        background-image: none;
        background-size: auto;
        padding: 1rem 4%;
        flex-direction: row;
    }

    .logo img {
        width: 80px;
        height: auto;
        margin-left: 0;
        margin-top: 0rem;
    }

    nav {
        margin-top: 3rem;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

/* Fim da Config do Header*/



@media (max-width: 768px) {
    .parent {
        margin-top: 0;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width: 768px) {
        .relogio-inicial {
            display: none;
        }
    }

    .descricao {
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: none;
    }

    .imagem-containerFinal {
        width: 90%;
        max-width: none;
        margin: 1rem auto;
    }

    .imagem-containerFinal img {
        width: 100%;
        height: auto;
        border-radius: 10%;
    }
}